<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>muney.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>87C2C16F1E38436E0078E887</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>87C2C1831E38436F0078E887</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>87C2C18E1E38436F0078E887</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
